In [1]:
import pandas as pd
import numpy as np

In [3]:
# import train.csv
url = "https://raw.githubusercontent.com/naufaldi-fir/adoption-prediction-project/main/Data%20Set/train.csv"
train = pd.read_csv(url)

In [4]:
print(train.head())

   Type         Name  Age  Breed1  Breed2  Gender  Color1  Color2  Color3  \
0     2       Nibble    3     299       0       1       1       7       0
1     2  No Name Yet    1     265       0       1       1       2       0
2     1       Brisco    1     307       0       1       2       7       0
3     1         Miko    4     307       0       2       1       2       0
4     1       Hunter    1     307       0       1       1       0       0

   MaturitySize  ...  Health  Quantity  Fee  State  \
0             1  ...       1         1  100  41326
1             2  ...       1         1    0  41401
2             2  ...       1         1    0  41326
3             2  ...       1         1  150  41401
4             2  ...       1         1    0  41326

                          RescuerID  VideoAmt  \
0  8480853f516546f6cf33aa88cd76c379         0
1  3082c7125d8fb66f7dd4bff4192c8b14         0
2  fa90fa5b1ee11c86938398b60abc32cb         0
3  9238e4f44c71a75282e62f7136c6b240         0
4  95481e953f8aed9ec3d16fc4509537e8         0

                                         Description      PetID PhotoAmt  \
0  Nibble is a 3+ month old ball of cuteness. He ...  86e1089a3      1.0
1  I just found it alone yesterday near my apartm...  6296e909a      2.0
2  Their pregnant mother was dumped by her irresp...  3422e4906      7.0
3  Good guard dog, very alert, active, obedience ...  5842f1ff5      8.0
4  This handsome yet cute boy is up for adoption....  850a43f90      3.0

   AdoptionSpeed
0              2
1              0
2              3
3              2
4              2

[5 rows x 24 columns]

In [13]:
# drop all columns except color
color = train.loc[:,["Color1","Color2","Color3"]]
color.head()

   Color1  Color2  Color3
0       1       7       0
1       1       2       0
2       2       7       0
3       1       2       0
4       1       0       0

In [14]:
# because it doesn't make a lot of sense to sort the color in Color 1,2 and 3. The table will be 
# transformed to binary data using one hot encoding