# Goals

In this notebook, we want to:
- Select data

# Coding

## making standardized table with only ordinal categorical data

### Importing data

In [2]:
import pandas as pd

In [5]:
# import train.csv
url_train = "https://raw.githubusercontent.com/naufaldi-fir/adoption-prediction-project/main/Data%20Set/train.csv"
train = pd.read_csv(url_train)
print(train)

       Type            Name  Age  Breed1  Breed2  Gender  Color1  Color2  \
0         2          Nibble    3     299       0       1       1       7
1         2     No Name Yet    1     265       0       1       1       2
2         1          Brisco    1     307       0       1       2       7
3         1            Miko    4     307       0       2       1       2
4         1          Hunter    1     307       0       1       1       0
...     ...             ...  ...     ...     ...     ...     ...     ...
14988     2             NaN    2     266       0       3       1       0
14989     2  Serato & Eddie   60     265     264       3       1       4
14990     2         Monkies    2     265     266       3       5       6
14991     2         Ms Daym    9     266       0       2       4       7
14992     1            Fili    1     307     307       1       2       0

       Color3  MaturitySize  ...  Health  Quantity  Fee  State  \
0           0             1  ...       1         1  100  41326
1           0             2  ...       1         1    0  41401
2           0             2  ...       1         1    0  41326
3           0             2  ...       1         1  150  41401
4           0             2  ...       1         1    0  41326
...       ...           ...  ...     ...       ...  ...    ...
14988       0             2  ...       1         4    0  41326
14989       7             2  ...       1         2    0  41326
14990       7             3  ...       1         5   30  41326
14991       0             1  ...       1         1    0  41336
14992       0             2  ...       1         1    0  41332

                              RescuerID  VideoAmt  \
0      8480853f516546f6cf33aa88cd76c379         0
1      3082c7125d8fb66f7dd4bff4192c8b14         0
2      fa90fa5b1ee11c86938398b60abc32cb         0
3      9238e4f44c71a75282e62f7136c6b240         0
4      95481e953f8aed9ec3d16fc4509537e8         0
...                                 ...       ...
14988  61c84bd7bcb6fb31d2d480b1bcf9682e         0
14989  1d5096c4a5e159a3b750c5cfcf6ceabf         0
14990  6f40a7acfad5cc0bb3e44591ea446c05         0
14991  c311c0c569245baa147d91fa4e351ae4         0
14992  9ed1d5493d223eaa5024c1a031dbc9c2         0

                                             Description      PetID PhotoAmt  \
0      Nibble is a 3+ month old ball of cuteness. He ...  86e1089a3      1.0
1      I just found it alone yesterday near my apartm...  6296e909a      2.0
2      Their pregnant mother was dumped by her irresp...  3422e4906      7.0
3      Good guard dog, very alert, active, obedience ...  5842f1ff5      8.0
4      This handsome yet cute boy is up for adoption....  850a43f90      3.0
...                                                  ...        ...      ...
14988  I have 4 kittens that need to be adopt urgentl...  dc0935a84      3.0
14989  Serato(female cat- 3 color) is 4 years old and...  a01ab5b30      3.0
14990  Mix breed, good temperament kittens. Love huma...  d981b6395      5.0
14991  she is very shy..adventures and independent..s...  e4da1c9e4      3.0
14992  Fili just loves laying around and also loves b...  a83d95ead      1.0

       AdoptionSpeed
0                  2
1                  0
2                  3
3                  2
4                  2
...              ...
14988              2
14989              4
14990              3
14991              4
14992              3

[14993 rows x 24 columns]

### Slicing table

List of ordinal categorical and binary data are Age, MaturitySize, vaccinated, dewormed, sterilized, health, and fee.

In [6]:
# make new table only for ordinal data
ordinal_data=[ 'Age', 'MaturitySize', 'Vaccinated', 'Dewormed', 'Sterilized', 'Health', 'Fee']
ordinal = train[ordinal_data]
print(ordinal)

       Age  MaturitySize  Vaccinated  Dewormed  Sterilized  Health  Fee
0        3             1           2         2           2       1  100
1        1             2           3         3           3       1    0
2        1             2           1         1           2       1    0
3        4             2           1         1           2       1  150
4        1             2           2         2           2       1    0
...    ...           ...         ...       ...         ...     ...  ...
14988    2             2           2         2           2       1    0
14989   60             2           1         1           1       1    0
14990    2             3           2         1           3       1   30
14991    9             1           1         1           1       1    0
14992    1             2           2         2           2       1    0

[14993 rows x 7 columns]

## Standardizing Table

In [9]:
# import standard scaler module and standardized train the table
from sklearn.preprocessing import StandardScaler

train_unscaled = ordinal
scaler = StandardScaler()
X_scaled = scaler.fit_transform(train_unscaled)
train_scaled = pd.DataFrame(X_scaled)
print(train_scaled)

              0         1         2         3         4         5         6
0     -0.410466 -1.573167  0.402608  0.634200  0.151502 -0.183518  1.004184
1     -0.520627  0.251848  1.900450  2.071408  1.917809 -0.183518 -0.271132
2     -0.520627  0.251848 -1.095234 -0.803007  0.151502 -0.183518 -0.271132
3     -0.355385  0.251848 -1.095234 -0.803007  0.151502 -0.183518  1.641842
4     -0.520627  0.251848  0.402608  0.634200  0.151502 -0.183518 -0.271132
...         ...       ...       ...       ...       ...       ...       ...
14988 -0.465546  0.251848  0.402608  0.634200  0.151502 -0.183518 -0.271132
14989  2.729133  0.251848 -1.095234 -0.803007 -1.614805 -0.183518 -0.271132
14990 -0.465546  2.076863  0.402608 -0.803007  1.917809 -0.183518  0.111463
14991 -0.079981 -1.573167 -1.095234 -0.803007 -1.614805 -0.183518 -0.271132
14992 -0.520627  0.251848  0.402608  0.634200  0.151502 -0.183518 -0.271132

[14993 rows x 7 columns]