In [7]:
import pandas as pd
import matplotlib.pyplot as plt

In [1]:
df = pd.read_csv("train.csv")

In [6]:
print(df.head())

   Type         Name  Age  Breed1  Breed2  Gender  Color1  Color2  Color3  \
0     2       Nibble    3     299       0       1       1       7       0
1     2  No Name Yet    1     265       0       1       1       2       0
2     1       Brisco    1     307       0       1       2       7       0
3     1         Miko    4     307       0       2       1       2       0
4     1       Hunter    1     307       0       1       1       0       0

   MaturitySize  ...  Health  Quantity  Fee  State  \
0             1  ...       1         1  100  41326
1             2  ...       1         1    0  41401
2             2  ...       1         1    0  41326
3             2  ...       1         1  150  41401
4             2  ...       1         1    0  41326

                          RescuerID  VideoAmt  \
0  8480853f516546f6cf33aa88cd76c379         0
1  3082c7125d8fb66f7dd4bff4192c8b14         0
2  fa90fa5b1ee11c86938398b60abc32cb         0
3  9238e4f44c71a75282e62f7136c6b240         0
4  95481e953f8aed9ec3d16fc4509537e8         0

                                         Description      PetID PhotoAmt  \
0  Nibble is a 3+ month old ball of cuteness. He ...  86e1089a3      1.0
1  I just found it alone yesterday near my apartm...  6296e909a      2.0
2  Their pregnant mother was dumped by her irresp...  3422e4906      7.0
3  Good guard dog, very alert, active, obedience ...  5842f1ff5      8.0
4  This handsome yet cute boy is up for adoption....  850a43f90      3.0

   AdoptionSpeed
0              2
1              0
2              3
3              2
4              2

[5 rows x 24 columns]

In [3]:
df.shape

(14993, 24)

In [5]:
df.info()
#insight_1: name and description columns have less non-null count.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14993 entries, 0 to 14992
Data columns (total 24 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Type           14993 non-null  int64
 1   Name           13736 non-null  object
 2   Age            14993 non-null  int64
 3   Breed1         14993 non-null  int64
 4   Breed2         14993 non-null  int64
 5   Gender         14993 non-null  int64
 6   Color1         14993 non-null  int64
 7   Color2         14993 non-null  int64
 8   Color3         14993 non-null  int64
 9   MaturitySize   14993 non-null  int64
 10  FurLength      14993 non-null  int64
 11  Vaccinated     14993 non-null  int64
 12  Dewormed       14993 non-null  int64
 13  Sterilized     14993 non-null  int64
 14  Health         14993 non-null  int64
 15  Quantity       14993 non-null  int64
 16  Fee            14993 non-null  int64
 17  State          14993 non-null  int64
 18  RescuerID      14993 non-null  object
 19  VideoAmt       14993 non-null  int64
 20  Description    14981 non-null  object
 21  PetID          14993 non-null  object
 22  PhotoAmt       14993 non-null  float64
 23  AdoptionSpeed  14993 non-null  int64
dtypes: float64(1), int64(19), object(4)
memory usage: 2.7+ MB

In [ ]:
##faizan insight
# Insight_1: There are 14993 (around 15k animals in the dataset)
# Insight_2: There are less names and descriptions (13736 and 14981 respectively) than the number of animals which implies that not all animals have a name
# Insight_3: For majority of the animals, there was no adoption after 100 days of being listed.
# Insight_4: There are more number of dogs than cats in the dataset
# Insight_5: Majority of the animals are healthy

 ### Age attribute

In [ ]:
# age is in month
df.Age.plot(kind = "box")

In [14]:
df.Age.max()

255